@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --trip-ease: cubic-bezier(0.25,0.1,0,1);
  --black: #000;
  --gray-5: #121212;
  --gray-10: #191919;
  --gray-15: #232323;
  --gray-20: #333;
  --gray-30: #545454;
  --gray-50: #757575;
  --gray-70: #bababa;
  --gray-80: #e0e0e0;
  --gray-95: #f2f2f2;
  --white: #fff;
  --beige-90: #f2f1ec;
  --yellow-90: #fff7e1;
  --yellow-80: #fee39a;
  --yellow-70: #f7d36e;
  --yellow-60: #fdc735;
  --brand-yellow: #f2b203;
  --brand-pink: #fcc;
  --red-80: #f8a1a3;
  --brand-red: #ff5d5d;
  --red-50: #d53939;
  --red-40: #b5262b;
  --red-60-dark-mode: #e06666;
  --purple-90: #f2ecf9;
  --purple-80: #dfd3ee;
  --purple-70-dark-mode: #b8a3d8;
  --purple-70: #ae92d3;
  --brand-purple: #7446af;
  --purple-30: #52327c;
  --purple-20: #301d49;
  --green-90: #eafaf4;
  --green-80: #c9f2e3;
  --brand-green-dark-mode: #84e9bd;
  --brand-green: #34e0a1;
  --green-40: #0fd28a;
  --green-30: #00aa6c;
  --green-20: #006641;
  --green-10: #004f32;
  --primary-warning: #f73;
  --primary-danger: #c00;
  --primary-danger-dark-mode: #e06666;
  --michelin-red: #bd2333;
  --scrimImage: blur(4px);
  --shadowLarge: 0 2px 54px rgba(0,0,0,.1);
  --shadowMedium: 0 2px 12px rgba(0,0,0,.15);
  --shadowSmall: 0 2px 3px rgba(0,0,0,.15);
  --ta-sans-serif: "Trip Sans VF","Trip Sans",Arial,sans-serif;
  --ta-serif: Georgia,"Times New Roman","Century Schoolbook L",serif;
  --ta-monospace: "Trip Sans Mono",Courier,monospace,Arial,sans-serif;
  --trip-sans-regular: 400;
  --trip-sans-medium: 700;
  --trip-sans-bold: 800;
  --trip-sans-ultra: 900;
  --gridGutterLarge: 24px;
  --gridGutterMedium: 16px;
  --gridGutterSmall: 8px;
  --gridMarginLarge: 24px;
  --gridMarginMedium: 16px;
  --gridMarginSmall: 8px;
  --radiusFullRounded: 100px;
  --radiusXl: 12px;
  --radiusLarge: 8px;
  --radiusMedium: 6px;
  --radiusSmall: 4px;
  --breakpointLarge: 1184px;
  --breakpointMedium: 1024px;
  --breakpointSmall: 768px;
  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 16px;
  --spacing-04: 24px;
  --spacing-05: 32px;
  --spacing-055: 40px;
  --spacing-06: 48px;
  --spacing-07: 56px;
  --spacing-08: 64px;
  --spacing-09: 80px;
  --spacing-10: 96px;
  --overlays: 10104;
  --primaryBackground: var(--white);
  --primaryBackgroundHover: var(--gray-95);
  --primaryBackgroundPressed: var(--gray-80);
  --secondaryBackground: var(--gray-95);
  --tertiaryBackground: var(--gray-80);
  --quaternaryBackground: var(--black);
  --navigationBackground: var(--white);
  --footerBackground: var(--gray-95);
  --pinkBackground: var(--brand-pink);
  --green10Background: var(--green-10);
  --green30Background: var(--green-30);
  --green80Background: var(--green-80);
  --green90Background: var(--green-90);
  --yellowBackground: var(--brand-yellow);
  --yellow70Background: var(--yellow-70);
  --yellow80Background: var(--yellow-80);
  --lightYellowBackground: var(--yellow-90);
  --purpleBackground: var(--brand-purple);
  --purple20Background: var(--purple-20);
  --purple80Background: var(--purple-80);
  --lightPurpleBackground: var(--purple-90);
  --gaiBackground: var(--purple-20);
  --brandBackground: var(--brand-green);
  --textHighlightBackground: var(--green-80);
  --redBackground: var(--brand-red);
  --beigeBackground: var(--beige-90);
  --plusBackground: var(--purple-30);
  --grayBackground: var(--gray-30);
  --exploreHeaderBackground: var(--purple-90);
  --scrimModal: rgba(0,0,0,.4);
  --scrimImageFull: rgba(0,0,0,.4);
  --scrimImageStart: rgba(0,0,0,.6);
  --scrimImageEnd: rgba(0,0,0,0);
  --scrimImageLinearFull: linear-gradient(180deg,rgba(0,0,0,0),#000);
  --overlayBackground: var(--white);
  --secondaryDialogBackground: rgba(0,0,0,.9);
  --scrimPrimaryBackgroundStart: var(--white);
  --scrimPrimaryBackgroundEnd: hsla(0,0%,100%,0);
  --skeletonStart: var(--gray-95);
  --skeletonEnd: var(--gray-80);
  --bottomNavTabBarBackground: var(--white);
  --noBackground: hsla(0,0%,100%,0);
  --scrimFab: rgba(0,0,0,.8);
  --gaiLightBackground: var(--purple-80);
  --rewardsLogoBackground: var(--brand-yellow);
  --categoryBarBackground: var(--green-20);
  --promoContainerBackground: var(--white);
  --primaryHeroBackground: var(--brand-green);
  --surface: var(--white);
  --surfaceDim: var(--gray-95);
  --invertedTertiary: var(--gray-20);
  --primaryIcon: var(--black);
  --primaryIconPressed: var(--gray-30);
  --secondaryIcon: var(--white);
  --secondaryIconPressed: hsla(0,0%,100%,.5);
  --tertiaryIcon: var(--gray-80);
  --primarySelectedIcon: var(--brand-red);
  --primarySelectedIconFill: var(--brand-pink);
  --primarySelectedIconPressed: rgba(255,93,93,.2);
  --activeMapPinIcon: var(--green-10);
  --bubbleIcon: var(--green-30);
  --starIconFilled: var(--gray-30);
  --starIconEmpty: var(--gray-70);
  --dragIcon: var(--gray-50);
  --dangerIcon: var(--primary-danger);
  --verifiedCheckmarkIcon: var(--green-30);
  --plusIcon: var(--purple-30);
  --socialProofGuaranteeIcon: var(--green-10);
  --socialProofGuaranteeIconFill: var(--green-80);
  --socialProofReviewsIcon: var(--brand-yellow);
  --socialProofReviewsIconFill: var(--yellow-90);
  --socialProofAttractionsIcon: var(--red-40);
  --socialProofAttractionsIconFill: var(--brand-pink);
  --primaryLink: var(--gray-20);
  --primaryLinkHover: var(--gray-30);
  --primaryLinkPressed: var(--black);
  --primaryLinkDisabled: var(--gray-70);
  --accentLink: var(--brand-purple);
  --accentLinkHover: var(--purple-70);
  --accentLinkPressed: var(--purple-80);
  --onLightLink: var(--gray-20);
  --onLightLinkDisabled: var(--gray-70);
  --onLightLinkHover: var(--gray-30);
  --onLightLinkPressed: var(--black);
  --onDarkLink: var(--white);
  --onDarkLinkHover: var(--gray-80);
  --onDarkLinkPressed: var(--gray-70);
  --onDarkLinkDisabled: var(--gray-70);
  --invertLinkDisabled: var(--gray-70);
  --invertLinkEnabled: var(--white);
  --invertLinkHover: var(--gray-95);
  --invertLinkPressed: var(--gray-80);
  --primaryText: var(--black);
  --secondaryText: var(--gray-20);
  --placeholderText: var(--gray-50);
  --placeholderTextOnLight: var(--gray-50);
  --invertText: var(--white);
  --largeDecorativeText: var(--brand-red);
  --accentPurpleText: var(--brand-purple);
  --strikethroughText: var(--red-50);
  --specialOfferText: var(--red-50);
  --onDarkText: var(--white);
  --onLightText: var(--black);
  --dangerText: var(--primary-danger);
  --michelin: var(--michelin-red);
  --nextBestThingText: var(--green-10);
  --plusLogoText: var(--brand-purple);
  --plusOnLightText: var(--purple-30);
  --gaiOnLightText: var(--purple-20);
  --gaiOnDarkText: var(--purple-80);
  --navBarTabTextActive: var(--black);
  --navBarTabTextEnabled: var(--gray-50);
  --disabledText: var(--gray-50);
  --successText: var(--green-10);
  --onLightButtonText: var(--black);
  --onLightButtonTextPressed: var(--gray-50);
  --onLightButtonAddFillActive: var(--black);
  --onLightButtonAddFillActiveHover: var(--gray-20);
  --onLightButtonAddFillActivePressed: var(--gray-30);
  --buttonTextDisabled: var(--gray-70);
  --onDarkButtonText: var(--white);
  --onDarkButtonTextPressed: hsla(0,0%,100%,.5);
  --buttonSavesTextFillActive: var(--brand-red);
  --primaryButtonText: var(--white);
  --primaryButtonTextPressed: hsla(0,0%,100%,.5);
  --secondaryButtonText: var(--black);
  --secondaryButtonTextPressed: rgba(0,0,0,.8);
  --onLightSecondaryButtonText: var(--gray-20);
  --disabledButtonFill: var(--gray-80);
  --primaryButtonFill: var(--black);
  --primaryButtonFillHover: var(--gray-20);
  --primaryButtonFillPressed: var(--gray-30);
  --secondaryButtonFill: var(--white);
  --secondaryButtonStroke: var(--black);
  --secondaryButtonFillHover: var(--black);
  --secondaryButtonFillPressed: var(--gray-30);
  --secondaryButtonStrokePressed: var(--black);
  --commerceButtonFill: var(--brand-yellow);
  --secondaryCommerceButtonFill: var(--white);
  --secondaryCommerceButtonFillHover: var(--yellow-60);
  --secondaryCommerceButtonFillPressed: var(--yellow-70);
  --secondaryCommerceButtonStroke: var(--brand-yellow);
  --commerceButtonFillHover: var(--yellow-60);
  --commerceButtonFillPressed: var(--yellow-70);
  --secondaryCommerceButtonStrokePressed: var(--brand-yellow);
  --plusButtonFill: var(--purple-30);
  --plusButtonFillHover: rgba(82,50,124,.9);
  --plusButtonFillPressed: rgba(82,50,124,.9);
  --gaiButtonOnDarkFill: var(--purple-80);
  --gaiButtonOnDarkFillHover: rgba(174,146,211,.6);
  --gaiButtonOnDarkFillPressed: var(--purple-70);
  --gaiButtonOnDarkText: var(--purple-20);
  --gaiButtonOnLightFill: var(--purple-20);
  --gaiButtonOnLightFillHover: var(--purple-30);
  --gaiButtonOnLightFillPressed: var(--purple-70);
  --gaiButtonOnLightText: var(--white);
  --gaiButtonPrimaryFill: var(--purple-20);
  --gaiButtonPrimaryFillHover: var(--purple-30);
  --gaiButtonPrimaryFillPressed: var(--purple-70);
  --gaiButtonPrimaryText: var(--white);
  --gaiButtonSecondaryFill: var(--purple-80);
  --gaiButtonSecondaryFillHover: rgba(174,146,211,.6);
  --gaiButtonSecondaryFillPressed: var(--purple-70);
  --gaiButtonSecondaryText: var(--purple-20);
  --gaiAttributeButtonFill: rgba(242,236,249,.5);
  --gaiAttributeButtonFillHover: var(--purple-90);
  --gaiAttributeButtonFillPressed: var(--purple-80);
  --gaiAttributeButtonStroke: var(--brand-purple);
  --gaiAttributeButtonStrokeHover: var(--brand-purple);
  --gaiAttributeButtonStrokePressed: var(--brand-purple);
  --gaiAttributeButtonText: var(--brand-purple);
  --gaiAttributeButtonTextHover: var(--brand-purple);
  --gaiAttributeButtonTextPressed: var(--brand-purple);
  --onDarkButtonFill: var(--white);
  --onDarkButtonFillHover: var(--gray-95);
  --onDarkButtonFillPressed: var(--gray-80);
  --onDarkOutlineButtonStroke: var(--white);
  --lightButtonFill: var(--white);
  --lightButtonFillHover: var(--gray-95);
  --lightButtonFillPressed: var(--gray-80);
  --lightButtonStroke: var(--gray-80);
  --clearCircularButtonFill: rgba(0,0,0,0);
  --clearCircularButtonFillHover: rgba(0,0,0,.07);
  --clearCircularButtonFillPressed: rgba(0,0,0,.07);
  --clearCircularButtonText: var(--black);
  --clearCircularButtonTextPressed: rgba(0,0,0,.5);
  --invertedClearCircularButtonFill: hsla(0,0%,100%,0);
  --invertedClearCircularButtonFillHover: hsla(0,0%,100%,.24);
  --invertedClearCircularButtonFillPressed: hsla(0,0%,100%,.24);
  --invertedClearCircularButtonText: var(--white);
  --invertedClearCircularButtonTextPressed: hsla(0,0%,100%,.5);
  --onDarkClearCircularButtonFill: hsla(0,0%,100%,0);
  --onDarkClearCircularButtonFillHover: hsla(0,0%,100%,.24);
  --onDarkClearCircularButtonFillPressed: hsla(0,0%,100%,.24);
  --searchButtonFill: var(--brand-green);
  --searchButtonFillHover: var(--brand-green-dark-mode);
  --searchButtonFillPressed: var(--green-80);
  --tabBarButtonActive: #006641;
  --tabBarButtonEnabled: var(--gray-50);
  --tabBarButtonPressed: var(--green-30);
  --transparentButtonFillEnabled: rgba(0,0,0,.6);
  --transparentButtonFillHover: var(--gray-20);
  --transparentButtonFillPressed: var(--gray-30);
  --primaryAlertFill: var(--yellow-90);
  --warningAlertFill: var(--gray-95);
  --dangerAlertFill: var(--brand-pink);
  --successAlertFill: var(--green-90);
  --dangerAlert: var(--primary-danger);
  --datePickerAlert: var(--brand-yellow);
  --notificationAlert: var(--brand-red);
  --plusAlert: var(--purple-30);
  --primaryAlert: var(--black);
  --successAlert: var(--green-30);
  --warningAlert: var(--primary-warning);
  --primaryAvatarFill: var(--green-30);
  --secondaryAvatarFill: var(--brand-pink);
  --primaryAvatarBackground: var(--brand-red);
  --awardTravelersChoice: var(--brand-green);
  --awardTravelersChoicePast: var(--brand-pink);
  --awardBestOfBest: var(--brand-yellow);
  --awardMichelin: var(--michelin-red);
  --chipFill: var(--white);
  --chipStroke: var(--gray-80);
  --chipStrokeSelected: var(--black);
  --secondaryChipFill: var(--gray-95);
  --secondaryChipFillSelected: var(--black);
  --chipFillHover: var(--gray-95);
  --headerChipFillSelected: var(--black);
  --controlFill: var(--white);
  --controlHover: var(--black);
  --controlSelected: var(--black);
  --controlSelectedHover: var(--gray-20);
  --controlStroke: var(--gray-50);
  --controlDisabled: var(--gray-80);
  --controlError: var(--primary-danger);
  --onLightControlHover: var(--black);
  --onLightControlSelected: var(--black);
  --onLightControlStroke: var(--gray-50);
  --onLightControlSelectedHover: var(--gray-20);
  --primaryTabIndicator: var(--brand-green);
  --primaryTabOverlay: var(--green-90);
  --histogramBarFill: var(--green-30);
  --histogramBarFillDisabled: var(--gray-70);
  --negativeBarFill: var(--brand-red);
  --neutralBarFill: var(--brand-yellow);
  --primaryTrack: rgba(0,0,0,.1);
  --paginationTrack: rgba(0,0,0,.1);
  --paginationTrackOnDark: hsla(0,0%,100%,.5);
  --onDarkIndicator: var(--white);
  --primaryIndicator: var(--black);
  --paginationIndicator: var(--black);
  --paginationIndicatorOnDark: var(--white);
  --sliderIndicator: var(--black);
  --sliderTrack: var(--gray-80);
  --sliderTrackDisabled: var(--gray-95);
  --sliderHandleStroke: var(--black);
  --primarySpinnerFill: var(--black);
  --secondarySpinnerFill: var(--gray-70);
  --stepwiseFill: var(--black);
  --stepwiseStroke: var(--black);
  --fieldStrokeEnabled: var(--gray-80);
  --fieldStrokeDisabled: var(--gray-80);
  --fieldStrokeSelected: var(--black);
  --fieldBackground: var(--white);
  --fieldStrokeAlert: var(--primary-danger);
  --fieldBackgroundDisabled: var(--gray-95);
  --cursor: var(--brand-purple);
  --primaryLabelFill: var(--black);
  --secondaryLabelFill: var(--white);
  --secondaryLabelStroke: var(--black);
  --activeLabelFill: var(--green-80);
  --accentLabelFill: var(--gray-95);
  --accentLabelStroke: var(--red-40);
  --accentLabelText: var(--red-40);
  --michelinLabelFill: var(--gray-95);
  --merchandisingLabelFill: var(--yellow-90);
  --expiredLabelFill: var(--brand-pink);
  --importantLabelFill: var(--yellow-80);
  --plusLabelFill: var(--brand-purple);
  --plusPendingStatusLabelFill: var(--beige-90);
  --plusStatusLabelFill: var(--purple-90);
  --rewardsLabelFill: var(--yellow-90);
  --betaLabelFill: var( --purple-80 );
  --onDarkLabelFill: var( --white );
  --inactiveLabelFill: var(--gray-80);
  --diningClubLabelFill: var(--brand-red);
  --dateAndTimeOnLightLabelFill: var(--white);
  --dividerFill: var(--gray-80);
  --sectionDividerFill: var(--black);
  --offersLabelFillOnDark: var(--green-90);
  --offersLabelTextOnLight: var(--green-10);
  --primaryMapPinFill: var(--green-10);
  --primaryMapPinStroke: var(--green-10);
  --activeMapPinFill: var(--white);
  --activeMapPinStroke: var(--white);
  --visitedMapPinFill: var(--green-30);
  --visitedMapPinStroke: var(--green-30);
  --plusMapPinFill: var(--purple-30);
  --visitedPlusMapPinFill: var(--purple-70);
  --menuItemHover: var(--gray-95);
  --menuItemPressed: var(--gray-80);
  --menuItemSelected: var(--gray-95);
  --primaryTagFill: var(--white);
  --primaryTagStroke: var(--gray-80);
  --smallShadow: rgba(0,0,0,.15);
  --mediumShadow: rgba(0,0,0,.15);
  --largeShadow: rgba(0,0,0,.1);
  --scrimImagePartial: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.6) 78%,rgba(0,0,0,.6));
  --scrimPrimaryBackground: linear-gradient(180deg,hsla(0,0%,100%,0) 22%,#fff);
  --strokeSubscriber: linear-gradient(140deg,#52327c,#34e0a1);
  --strokeSubscriberEnd: var(--brand-green);
  --strokeSubscriberStart: var(--purple-30);
  --endopacity: rgba(0,0,0,0);
  --startopacity: var(--black);
  --selectorFillDisabled: var(--gray-80);
  --selectorFillSelectedEnabled: var(--brand-green);
  --selectorFillSelectedHover: var(--green-40);
  --selectorFillSelectedPressed: var(--green-30);
  --selectorFillUnselectedEnabled: var(--white);
  --selectorFillUnselectedHover: var(--gray-95);
  --selectorFillUnselectedPressed: var(--gray-80);
  --selectorStroke: var(--gray-80);
  --selectorText: var(--black);
  --selectorTextDisabled: var(--gray-70);
  --averageFill: var(--yellow-90);
  --cheaperFill: var(--green-80);
  --higherFill: var(--red-80);
  --strokeStandard: var(--brand-green);
  --switchOnFill: var(--green-30)
}

.RIEYs {
  --primaryBackground: var(--gray-5);
  --primaryBackgroundHover: var(--gray-10);
  --primaryBackgroundPressed: var(--gray-20);
  --secondaryBackground: var(--gray-15);
  --tertiaryBackground: var(--gray-20);
  --quaternaryBackground: var(--black);
  --navigationBackground: var(--gray-15);
  --footerBackground: var(--gray-20);
  --pinkBackground: var(--gray-15);
  --green10Background: var(--gray-15);
  --green30Background: var(--gray-15);
  --green80Background: var(--gray-15);
  --green90Background: var(--gray-15);
  --yellowBackground: var(--gray-20);
  --yellow70Background: var(--gray-20);
  --yellow80Background: var(--gray-20);
  --lightYellowBackground: var(--gray-20);
  --purpleBackground: var(--gray-15);
  --purple20Background: var(--purple-20);
  --purple80Background: var(--gray-15);
  --lightPurpleBackground: var(--gray-15);
  --gaiBackground: var(--purple-80);
  --brandBackground: var(--gray-30);
  --textHighlightBackground: var(--gray-30);
  --redBackground: var(--gray-15);
  --beigeBackground: var(--gray-15);
  --plusBackground: var(--purple-30);
  --grayBackground: var(--gray-15);
  --exploreHeaderBackground: var(--gray-15);
  --scrimModal: rgba(0,0,0,.8);
  --scrimImageFull: rgba(0,0,0,.4);
  --scrimImageStart: rgba(0,0,0,.6);
  --scrimImageEnd: rgba(0,0,0,0);
  --scrimImageLinearFull: linear-gradient(180deg,rgba(0,0,0,0),#000);
  --overlayBackground: var(--gray-15);
  --secondaryDialogBackground: var(--gray-15);
  --scrimPrimaryBackgroundStart: var(--gray-5);
  --scrimPrimaryBackgroundEnd: hsla(0,0%,7%,0);
  --skeletonStart: var(--gray-15);
  --skeletonEnd: var(--gray-20);
  --bottomNavTabBarBackground: var(--gray-15);
  --noBackground: rgba(0,0,0,0);
  --scrimFab: var(--white);
  --gaiLightBackground: var(--purple-80);
  --rewardsLogoBackground: var(--brand-yellow);
  --categoryBarBackground: var(--green-80);
  --promoContainerBackground: var(--gray-30);
  --primaryHeroBackground: var(--brand-green-dark-mode);
  --surface: var(--gray-5);
  --surfaceDim: var(--gray-20);
  --invertedTertiary: var(--gray-80);
  --primaryIcon: var(--white);
  --primaryIconPressed: var(--gray-80);
  --secondaryIcon: var(--black);
  --secondaryIconPressed: rgba(0,0,0,.5);
  --tertiaryIcon: var(--gray-20);
  --primarySelectedIcon: var(--brand-red);
  --primarySelectedIconFill: var(--brand-pink);
  --primarySelectedIconPressed: rgba(248,161,163,.2);
  --activeMapPinIcon: var(--green-90);
  --bubbleIcon: var(--brand-green-dark-mode);
  --starIconFilled: var(--gray-80);
  --starIconEmpty: var(--gray-30);
  --dragIcon: var(--gray-50);
  --dangerIcon: var(--primary-danger-dark-mode);
  --verifiedCheckmarkIcon: var(--brand-green-dark-mode);
  --plusIcon: var(--white);
  --socialProofGuaranteeIcon: var(--brand-green-dark-mode);
  --socialProofGuaranteeIconFill: var(--green-10);
  --socialProofReviewsIcon: var(--yellow-90);
  --socialProofReviewsIconFill: var(--brand-yellow);
  --socialProofAttractionsIcon: var(--red-40);
  --socialProofAttractionsIconFill: var(--brand-pink);
  --primaryLink: var(--gray-80);
  --primaryLinkHover: var(--gray-95);
  --primaryLinkPressed: var(--white);
  --primaryLinkDisabled: var(--gray-30);
  --accentLink: var(--purple-70-dark-mode);
  --accentLinkHover: var(--purple-30);
  --accentLinkPressed: var(--purple-20);
  --onLightLink: var(--gray-20);
  --onLightLinkDisabled: var(--gray-70);
  --onLightLinkHover: var(--gray-30);
  --onLightLinkPressed: var(--black);
  --onDarkLink: var(--white);
  --onDarkLinkHover: var(--gray-80);
  --onDarkLinkPressed: var(--gray-70);
  --onDarkLinkDisabled: var(--gray-70);
  --invertLinkDisabled: var(--gray-30);
  --invertLinkEnabled: var(--black);
  --invertLinkHover: var(--gray-20);
  --invertLinkPressed: var(--gray-30);
  --primaryText: var(--white);
  --secondaryText: var(--gray-80);
  --placeholderText: var(--gray-70);
  --placeholderTextOnLight: var(--gray-50);
  --invertText: var(--black);
  --largeDecorativeText: var(--red-80);
  --accentPurpleText: var(--purple-70-dark-mode);
  --strikethroughText: var(--red-60-dark-mode);
  --specialOfferText: var(--red-60-dark-mode);
  --onDarkText: var(--white);
  --onLightText: var(--black);
  --dangerText: var(--primary-danger-dark-mode);
  --michelin: var(--michelin-red);
  --nextBestThingText: var(--white);
  --plusLogoText: var(--white);
  --plusOnLightText: var(--purple-30);
  --gaiOnLightText: var(--purple-20);
  --gaiOnDarkText: var(--purple-80);
  --navBarTabTextActive: var(--white);
  --navBarTabTextEnabled: var(--gray-70);
  --disabledText: var(--gray-30);
  --successText: var(--brand-green-dark-mode);
  --onLightButtonText: var(--black);
  --onLightButtonTextPressed: var(--gray-30);
  --onLightButtonAddFillActive: var(--black);
  --onLightButtonAddFillActiveHover: var(--gray-20);
  --onLightButtonAddFillActivePressed: var(--gray-30);
  --buttonTextDisabled: var(--gray-50);
  --onDarkButtonText: var(--white);
  --onDarkButtonTextPressed: hsla(0,0%,100%,.5);
  --buttonSavesTextFillActive: var(--brand-red);
  --primaryButtonText: var(--black);
  --primaryButtonTextPressed: rgba(0,0,0,.5);
  --secondaryButtonText: var(--white);
  --secondaryButtonTextPressed: hsla(0,0%,100%,.5);
  --onLightSecondaryButtonText: var(--gray-20);
  --disabledButtonFill: var(--gray-30);
  --primaryButtonFill: var(--white);
  --primaryButtonFillHover: var(--gray-95);
  --primaryButtonFillPressed: var(--gray-80);
  --secondaryButtonFill: var(--gray-5);
  --secondaryButtonStroke: var(--white);
  --secondaryButtonFillHover: var(--gray-10);
  --secondaryButtonFillPressed: var(--gray-15);
  --secondaryButtonStrokePressed: var(--gray-30);
  --commerceButtonFill: var(--yellow-70);
  --secondaryCommerceButtonFill: var(--gray-5);
  --secondaryCommerceButtonFillHover: var(--gray-10);
  --secondaryCommerceButtonFillPressed: var(--gray-15);
  --secondaryCommerceButtonStroke: var(--yellow-70);
  --commerceButtonFillHover: var(--yellow-60);
  --commerceButtonFillPressed: var(--brand-yellow);
  --secondaryCommerceButtonStrokePressed: var(--yellow-70);
  --plusButtonFill: var(--purple-30);
  --plusButtonFillHover: rgba(82,50,124,.9);
  --plusButtonFillPressed: rgba(82,50,124,.9);
  --gaiButtonOnDarkFill: var(--purple-80);
  --gaiButtonOnDarkFillHover: rgba(174,146,211,.6);
  --gaiButtonOnDarkFillPressed: var(--purple-70);
  --gaiButtonOnDarkText: var(--purple-20);
  --gaiButtonOnLightFill: var(--purple-20);
  --gaiButtonOnLightFillHover: var(--purple-30);
  --gaiButtonOnLightFillPressed: var(--purple-70);
  --gaiButtonOnLightText: var(--white);
  --gaiButtonPrimaryFill: var(--purple-80);
  --gaiButtonPrimaryFillHover: var(--purple-70);
  --gaiButtonPrimaryFillPressed: var(--brand-purple);
  --gaiButtonPrimaryText: var(--purple-20);
  --gaiButtonSecondaryFill: var(--purple-30);
  --gaiButtonSecondaryFillHover: var(--brand-purple);
  --gaiButtonSecondaryFillPressed: var(--purple-70);
  --gaiButtonSecondaryText: var(--white);
  --gaiAttributeButtonFill: var(--gray-20);
  --gaiAttributeButtonFillHover: var(--gray-30);
  --gaiAttributeButtonFillPressed: var(--gray-50);
  --gaiAttributeButtonStroke: var(--gray-70);
  --gaiAttributeButtonStrokeHover: var(--gray-70);
  --gaiAttributeButtonStrokePressed: var(--gray-70);
  --gaiAttributeButtonText: var(--purple-70-dark-mode);
  --gaiAttributeButtonTextHover: var(--purple-80);
  --gaiAttributeButtonTextPressed: var(--purple-80);
  --onDarkButtonFill: var(--white);
  --onDarkButtonFillHover: var(--gray-95);
  --onDarkButtonFillPressed: var(--gray-80);
  --onDarkOutlineButtonStroke: var(--white);
  --lightButtonFill: var(--black);
  --lightButtonFillHover: var(--gray-20);
  --lightButtonFillPressed: var(--gray-30);
  --lightButtonStroke: var(--gray-80);
  --clearCircularButtonFill: hsla(0,0%,100%,0);
  --clearCircularButtonFillHover: hsla(0,0%,100%,.24);
  --clearCircularButtonFillPressed: hsla(0,0%,100%,.24);
  --clearCircularButtonText: var(--white);
  --clearCircularButtonTextPressed: hsla(0,0%,100%,.5);
  --invertedClearCircularButtonFill: rgba(0,0,0,0);
  --invertedClearCircularButtonFillHover: rgba(0,0,0,.07);
  --invertedClearCircularButtonFillPressed: rgba(0,0,0,.07);
  --invertedClearCircularButtonText: var(--black);
  --invertedClearCircularButtonTextPressed: rgba(0,0,0,.5);
  --onDarkClearCircularButtonFill: hsla(0,0%,100%,0);
  --onDarkClearCircularButtonFillHover: hsla(0,0%,100%,.24);
  --onDarkClearCircularButtonFillPressed: hsla(0,0%,100%,.24);
  --searchButtonFill: var(--brand-green-dark-mode);
  --searchButtonFillHover: var(--green-80);
  --searchButtonFillPressed: var(--green-90);
  --tabBarButtonActive: var(--brand-green-dark-mode);
  --tabBarButtonEnabled: var(--gray-70);
  --tabBarButtonPressed: var(--green-90);
  --transparentButtonFillEnabled: rgba(0,0,0,.6);
  --transparentButtonFillHover: var(--gray-20);
  --transparentButtonFillPressed: var(--gray-30);
  --primaryAlertFill: var(--gray-15);
  --warningAlertFill: var(--gray-20);
  --dangerAlertFill: var(--gray-15);
  --successAlertFill: var(--gray-15);
  --dangerAlert: var(--primary-danger-dark-mode);
  --datePickerAlert: var(--yellow-70);
  --notificationAlert: var(--brand-red);
  --plusAlert: var(--purple-70-dark-mode);
  --primaryAlert: var(--white);
  --successAlert: var(--brand-green-dark-mode);
  --warningAlert: var(--primary-warning);
  --primaryAvatarFill: var(--brand-green-dark-mode);
  --secondaryAvatarFill: var(--brand-pink);
  --primaryAvatarBackground: var(--brand-red);
  --awardTravelersChoice: var(--brand-green);
  --awardTravelersChoicePast: var(--brand-pink);
  --awardBestOfBest: var(--yellow-70);
  --awardMichelin: var(--michelin-red);
  --chipFill: var(--gray-5);
  --chipStroke: var(--gray-30);
  --chipStrokeSelected: var(--white);
  --chipFillHover: var(--gray-30);
  --secondaryChipFill: var(--gray-30);
  --secondaryChipFillSelected: var(--gray-80);
  --headerChipFillSelected: var(--white);
  --controlFill: var(--white);
  --controlHover: var(--gray-80);
  --controlSelected: var(--purple-70-dark-mode);
  --controlSelectedHover: var(--purple-80);
  --controlStroke: var(--gray-70);
  --controlDisabled: var(--gray-30);
  --controlError: var(--primary-danger-dark-mode);
  --onLightControlHover: var(--black);
  --onLightControlSelected: var(--black);
  --onLightControlStroke: var(--gray-50);
  --onLightControlSelectedHover: var(--gray-20);
  --primaryTabIndicator: var(--brand-green-dark-mode);
  --primaryTabOverlay: var(--gray-20);
  --histogramBarFill: var(--brand-green-dark-mode);
  --histogramBarFillDisabled: var(--gray-70);
  --negativeBarFill: var(--primary-danger-dark-mode);
  --neutralBarFill: var(--yellow-70);
  --primaryTrack: hsla(0,0%,100%,.2);
  --paginationTrack: hsla(0,0%,100%,.2);
  --paginationTrackOnDark: hsla(0,0%,100%,.5);
  --onDarkIndicator: var(--white);
  --primaryIndicator: var(--gray-80);
  --paginationIndicator: var(--gray-80);
  --paginationIndicatorOnDark: var(--white);
  --sliderIndicator: var(--gray-80);
  --sliderTrack: var(--gray-30);
  --sliderTrackDisabled: var(--gray-20);
  --sliderHandleStroke: var(--gray-30);
  --primarySpinnerFill: var(--white);
  --secondarySpinnerFill: var(--gray-30);
  --stepwiseFill: var(--gray-80);
  --stepwiseStroke: var(--gray-80);
  --fieldStrokeEnabled: var(--gray-50);
  --fieldStrokeDisabled: var(--gray-50);
  --fieldStrokeSelected: var(--white);
  --fieldBackground: var(--gray-20);
  --fieldStrokeAlert: var(--primary-danger-dark-mode);
  --fieldBackgroundDisabled: var(--gray-20);
  --cursor: var(--purple-70-dark-mode);
  --primaryLabelFill: var(--white);
  --secondaryLabelFill: var(--gray-5);
  --secondaryLabelStroke: var(--white);
  --accentLabelFill: var(--gray-95);
  --accentLabelStroke: var(--red-40);
  --accentLabelText: var(--red-40);
  --michelinLabelFill: var(--gray-95);
  --activeLabelFill: var(--green-80);
  --expiredLabelFill: var(--brand-pink);
  --importantLabelFill: var(--yellow-80);
  --merchandisingLabelFill: var(--yellow-90);
  --plusLabelFill: var(--brand-purple);
  --plusPendingStatusLabelFill: var(--beige-90);
  --plusStatusLabelFill: var(--purple-90);
  --rewardsLabelFill: var(--yellow-90);
  --betaLabelFill: var( --purple-80 );
  --onDarkLabelFill: var( --white );
  --diningClubLabelFill: var(--brand-red);
  --inactiveLabelFill: var(--gray-80);
  --dateAndTimeOnLightLabelFill: var(--white);
  --offersLabelFillOnDark: var(--green-90);
  --offersLabelTextOnLight: var(--green-10);
  --dividerFill: var(--gray-30);
  --sectionDividerFill: var(--gray-30);
  --primaryMapPinFill: var(--green-90);
  --primaryMapPinStroke: var(--black);
  --activeMapPinFill: var(--gray-5);
  --activeMapPinStroke: var(--green-90);
  --visitedMapPinFill: var(--green-80);
  --visitedMapPinStroke: var(--black);
  --plusMapPinFill: var(--purple-30);
  --visitedPlusMapPinFill: var(--purple-70);
  --menuItemHover: var(--gray-30);
  --menuItemPressed: var(--gray-50);
  --menuItemSelected: var(--gray-30);
  --primaryTagFill: var(--gray-20);
  --primaryTagStroke: var(--gray-30);
  --smallShadow: rgba(0,0,0,.15);
  --mediumShadow: rgba(0,0,0,.15);
  --largeShadow: rgba(0,0,0,.1);
  --scrimImagePartial: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.6));
  --scrimPrimaryBackground: linear-gradient(180deg,hsla(0,0%,7%,0) 22%,#121212);
  --strokeSubscriber: linear-gradient(135deg,#52327c,#84e9bd);
  --strokeSubscriberEnd: var(--brand-green-dark-mode);
  --strokeSubscriberStart: var(--purple-30);
  --endopacity: rgba(0,0,0,0);
  --startopacity: var(--black);
  --selectorFillDisabled: var(--gray-30);
  --selectorFillSelectedEnabled: var(--green-10);
  --selectorFillSelectedHover: var(--green-20);
  --selectorFillSelectedPressed: var(--green-30);
  --selectorFillUnselectedEnabled: var(--black);
  --selectorFillUnselectedHover: var(--gray-20);
  --selectorFillUnselectedPressed: var(--gray-30);
  --selectorStroke: var(--gray-30);
  --selectorText: var(--white);
  --selectorTextDisabled: var(--gray-50);
  --averageFill: var(--yellow-80);
  --cheaperFill: var(--green-80);
  --higherFill: var(--brand-pink);
  --strokeStandard: var(--brand-green-dark-mode);
  --switchOnFill: var(--brand-green)
}

@media (prefers-color-scheme: dark) {
  .yyXnJ {
      --primaryBackground:var(--gray-5);
      --primaryBackgroundHover: var(--gray-10);
      --primaryBackgroundPressed: var(--gray-20);
      --secondaryBackground: var(--gray-15);
      --tertiaryBackground: var(--gray-20);
      --quaternaryBackground: var(--black);
      --navigationBackground: var(--gray-15);
      --footerBackground: var(--gray-20);
      --pinkBackground: var(--gray-15);
      --green10Background: var(--gray-15);
      --green30Background: var(--gray-15);
      --green80Background: var(--gray-15);
      --green90Background: var(--gray-15);
      --yellowBackground: var(--gray-20);
      --yellow70Background: var(--gray-20);
      --yellow80Background: var(--gray-20);
      --lightYellowBackground: var(--gray-20);
      --purpleBackground: var(--gray-15);
      --purple20Background: var(--purple-20);
      --purple80Background: var(--gray-15);
      --lightPurpleBackground: var(--gray-15);
      --gaiBackground: var(--purple-80);
      --brandBackground: var(--gray-30);
      --textHighlightBackground: var(--gray-30);
      --redBackground: var(--gray-15);
      --beigeBackground: var(--gray-15);
      --plusBackground: var(--purple-30);
      --grayBackground: var(--gray-15);
      --exploreHeaderBackground: var(--gray-15);
      --scrimModal: rgba(0,0,0,.8);
      --scrimImageFull: rgba(0,0,0,.4);
      --scrimImageStart: rgba(0,0,0,.6);
      --scrimImageEnd: rgba(0,0,0,0);
      --scrimImageLinearFull: linear-gradient(180deg,rgba(0,0,0,0),#000);
      --overlayBackground: var(--gray-15);
      --secondaryDialogBackground: var(--gray-15);
      --scrimPrimaryBackgroundStart: var(--gray-5);
      --scrimPrimaryBackgroundEnd: hsla(0,0%,7%,0);
      --skeletonStart: var(--gray-15);
      --skeletonEnd: var(--gray-20);
      --bottomNavTabBarBackground: var(--gray-15);
      --noBackground: rgba(0,0,0,0);
      --scrimFab: var(--white);
      --gaiLightBackground: var(--purple-80);
      --rewardsLogoBackground: var(--brand-yellow);
      --categoryBarBackground: var(--green-80);
      --promoContainerBackground: var(--gray-30);
      --primaryHeroBackground: var(--brand-green-dark-mode);
      --surface: var(--gray-5);
      --surfaceDim: var(--gray-20);
      --invertedTertiary: var(--gray-80);
      --primaryIcon: var(--white);
      --primaryIconPressed: var(--gray-80);
      --secondaryIcon: var(--black);
      --secondaryIconPressed: rgba(0,0,0,.5);
      --tertiaryIcon: var(--gray-20);
      --primarySelectedIcon: var(--brand-red);
      --primarySelectedIconFill: var(--brand-pink);
      --primarySelectedIconPressed: rgba(248,161,163,.2);
      --activeMapPinIcon: var(--green-90);
      --bubbleIcon: var(--brand-green-dark-mode);
      --starIconFilled: var(--gray-80);
      --starIconEmpty: var(--gray-30);
      --dragIcon: var(--gray-50);
      --dangerIcon: var(--primary-danger-dark-mode);
      --verifiedCheckmarkIcon: var(--brand-green-dark-mode);
      --plusIcon: var(--white);
      --socialProofGuaranteeIcon: var(--brand-green-dark-mode);
      --socialProofGuaranteeIconFill: var(--green-10);
      --socialProofReviewsIcon: var(--yellow-90);
      --socialProofReviewsIconFill: var(--brand-yellow);
      --socialProofAttractionsIcon: var(--red-40);
      --socialProofAttractionsIconFill: var(--brand-pink);
      --primaryLink: var(--gray-80);
      --primaryLinkHover: var(--gray-95);
      --primaryLinkPressed: var(--white);
      --primaryLinkDisabled: var(--gray-30);
      --accentLink: var(--purple-70-dark-mode);
      --accentLinkHover: var(--purple-30);
      --accentLinkPressed: var(--purple-20);
      --onLightLink: var(--gray-20);
      --onLightLinkDisabled: var(--gray-70);
      --onLightLinkHover: var(--gray-30);
      --onLightLinkPressed: var(--black);
      --onDarkLink: var(--white);
      --onDarkLinkHover: var(--gray-80);
      --onDarkLinkPressed: var(--gray-70);
      --onDarkLinkDisabled: var(--gray-70);
      --invertLinkDisabled: var(--gray-30);
      --invertLinkEnabled: var(--black);
      --invertLinkHover: var(--gray-20);
      --invertLinkPressed: var(--gray-30);
      --primaryText: var(--white);
      --secondaryText: var(--gray-80);
      --placeholderText: var(--gray-70);
      --placeholderTextOnLight: var(--gray-50);
      --invertText: var(--black);
      --largeDecorativeText: var(--red-80);
      --accentPurpleText: var(--purple-70-dark-mode);
      --strikethroughText: var(--red-60-dark-mode);
      --specialOfferText: var(--red-60-dark-mode);
      --onDarkText: var(--white);
      --onLightText: var(--black);
      --dangerText: var(--primary-danger-dark-mode);
      --michelin: var(--michelin-red);
      --nextBestThingText: var(--white);
      --plusLogoText: var(--white);
      --plusOnLightText: var(--purple-30);
      --gaiOnLightText: var(--purple-20);
      --gaiOnDarkText: var(--purple-80);
      --navBarTabTextActive: var(--white);
      --navBarTabTextEnabled: var(--gray-70);
      --disabledText: var(--gray-30);
      --successText: var(--brand-green-dark-mode);
      --onLightButtonText: var(--black);
      --onLightButtonTextPressed: var(--gray-30);
      --onLightButtonAddFillActive: var(--black);
      --onLightButtonAddFillActiveHover: var(--gray-20);
      --onLightButtonAddFillActivePressed: var(--gray-30);
      --buttonTextDisabled: var(--gray-50);
      --onDarkButtonText: var(--white);
      --onDarkButtonTextPressed: hsla(0,0%,100%,.5);
      --buttonSavesTextFillActive: var(--brand-red);
      --primaryButtonText: var(--black);
      --primaryButtonTextPressed: rgba(0,0,0,.5);
      --secondaryButtonText: var(--white);
      --secondaryButtonTextPressed: hsla(0,0%,100%,.5);
      --onLightSecondaryButtonText: var(--gray-20);
      --disabledButtonFill: var(--gray-30);
      --primaryButtonFill: var(--white);
      --primaryButtonFillHover: var(--gray-95);
      --primaryButtonFillPressed: var(--gray-80);
      --secondaryButtonFill: var(--gray-5);
      --secondaryButtonStroke: var(--white);
      --secondaryButtonFillHover: var(--gray-10);
      --secondaryButtonFillPressed: var(--gray-15);
      --secondaryButtonStrokePressed: var(--gray-30);
      --commerceButtonFill: var(--yellow-70);
      --secondaryCommerceButtonFill: var(--gray-5);
      --secondaryCommerceButtonFillHover: var(--gray-10);
      --secondaryCommerceButtonFillPressed: var(--gray-15);
      --secondaryCommerceButtonStroke: var(--yellow-70);
      --commerceButtonFillHover: var(--yellow-60);
      --commerceButtonFillPressed: var(--brand-yellow);
      --secondaryCommerceButtonStrokePressed: var(--yellow-70);
      --plusButtonFill: var(--purple-30);
      --plusButtonFillHover: rgba(82,50,124,.9);
      --plusButtonFillPressed: rgba(82,50,124,.9);
      --gaiButtonOnDarkFill: var(--purple-80);
      --gaiButtonOnDarkFillHover: rgba(174,146,211,.6);
      --gaiButtonOnDarkFillPressed: var(--purple-70);
      --gaiButtonOnDarkText: var(--purple-20);
      --gaiButtonOnLightFill: var(--purple-20);
      --gaiButtonOnLightFillHover: var(--purple-30);
      --gaiButtonOnLightFillPressed: var(--purple-70);
      --gaiButtonOnLightText: var(--white);
      --gaiButtonPrimaryFill: var(--purple-80);
      --gaiButtonPrimaryFillHover: var(--purple-70);
      --gaiButtonPrimaryFillPressed: var(--brand-purple);
      --gaiButtonPrimaryText: var(--purple-20);
      --gaiButtonSecondaryFill: var(--purple-30);
      --gaiButtonSecondaryFillHover: var(--brand-purple);
      --gaiButtonSecondaryFillPressed: var(--purple-70);
      --gaiButtonSecondaryText: var(--white);
      --gaiAttributeButtonFill: var(--gray-20);
      --gaiAttributeButtonFillHover: var(--gray-30);
      --gaiAttributeButtonFillPressed: var(--gray-50);
      --gaiAttributeButtonStroke: var(--gray-70);
      --gaiAttributeButtonStrokeHover: var(--gray-70);
      --gaiAttributeButtonStrokePressed: var(--gray-70);
      --gaiAttributeButtonText: var(--purple-70-dark-mode);
      --gaiAttributeButtonTextHover: var(--purple-80);
      --gaiAttributeButtonTextPressed: var(--purple-80);
      --onDarkButtonFill: var(--white);
      --onDarkButtonFillHover: var(--gray-95);
      --onDarkButtonFillPressed: var(--gray-80);
      --onDarkOutlineButtonStroke: var(--white);
      --lightButtonFill: var(--black);
      --lightButtonFillHover: var(--gray-20);
      --lightButtonFillPressed: var(--gray-30);
      --lightButtonStroke: var(--gray-80);
      --clearCircularButtonFill: hsla(0,0%,100%,0);
      --clearCircularButtonFillHover: hsla(0,0%,100%,.24);
      --clearCircularButtonFillPressed: hsla(0,0%,100%,.24);
      --clearCircularButtonText: var(--white);
      --clearCircularButtonTextPressed: hsla(0,0%,100%,.5);
      --invertedClearCircularButtonFill: rgba(0,0,0,0);
      --invertedClearCircularButtonFillHover: rgba(0,0,0,.07);
      --invertedClearCircularButtonFillPressed: rgba(0,0,0,.07);
      --invertedClearCircularButtonText: var(--black);
      --invertedClearCircularButtonTextPressed: rgba(0,0,0,.5);
      --onDarkClearCircularButtonFill: hsla(0,0%,100%,0);
      --onDarkClearCircularButtonFillHover: hsla(0,0%,100%,.24);
      --onDarkClearCircularButtonFillPressed: hsla(0,0%,100%,.24);
      --searchButtonFill: var(--brand-green-dark-mode);
      --searchButtonFillHover: var(--green-80);
      --searchButtonFillPressed: var(--green-90);
      --tabBarButtonActive: var(--brand-green-dark-mode);
      --tabBarButtonEnabled: var(--gray-70);
      --tabBarButtonPressed: var(--green-90);
      --transparentButtonFillEnabled: rgba(0,0,0,.6);
      --transparentButtonFillHover: var(--gray-20);
      --transparentButtonFillPressed: var(--gray-30);
      --primaryAlertFill: var(--gray-15);
      --warningAlertFill: var(--gray-20);
      --dangerAlertFill: var(--gray-15);
      --successAlertFill: var(--gray-15);
      --dangerAlert: var(--primary-danger-dark-mode);
      --datePickerAlert: var(--yellow-70);
      --notificationAlert: var(--brand-red);
      --plusAlert: var(--purple-70-dark-mode);
      --primaryAlert: var(--white);
      --successAlert: var(--brand-green-dark-mode);
      --warningAlert: var(--primary-warning);
      --primaryAvatarFill: var(--brand-green-dark-mode);
      --secondaryAvatarFill: var(--brand-pink);
      --primaryAvatarBackground: var(--brand-red);
      --awardTravelersChoice: var(--brand-green);
      --awardTravelersChoicePast: var(--brand-pink);
      --awardBestOfBest: var(--yellow-70);
      --awardMichelin: var(--michelin-red);
      --chipFill: var(--gray-5);
      --chipStroke: var(--gray-30);
      --chipStrokeSelected: var(--white);
      --chipFillHover: var(--gray-30);
      --secondaryChipFill: var(--gray-30);
      --secondaryChipFillSelected: var(--gray-80);
      --headerChipFillSelected: var(--white);
      --controlFill: var(--white);
      --controlHover: var(--gray-80);
      --controlSelected: var(--purple-70-dark-mode);
      --controlSelectedHover: var(--purple-80);
      --controlStroke: var(--gray-70);
      --controlDisabled: var(--gray-30);
      --controlError: var(--primary-danger-dark-mode);
      --onLightControlHover: var(--black);
      --onLightControlSelected: var(--black);
      --onLightControlStroke: var(--gray-50);
      --onLightControlSelectedHover: var(--gray-20);
      --primaryTabIndicator: var(--brand-green-dark-mode);
      --primaryTabOverlay: var(--gray-20);
      --histogramBarFill: var(--brand-green-dark-mode);
      --histogramBarFillDisabled: var(--gray-70);
      --negativeBarFill: var(--primary-danger-dark-mode);
      --neutralBarFill: var(--yellow-70);
      --primaryTrack: hsla(0,0%,100%,.2);
      --paginationTrack: hsla(0,0%,100%,.2);
      --paginationTrackOnDark: hsla(0,0%,100%,.5);
      --onDarkIndicator: var(--white);
      --primaryIndicator: var(--gray-80);
      --paginationIndicator: var(--gray-80);
      --paginationIndicatorOnDark: var(--white);
      --sliderIndicator: var(--gray-80);
      --sliderTrack: var(--gray-30);
      --sliderTrackDisabled: var(--gray-20);
      --sliderHandleStroke: var(--gray-30);
      --primarySpinnerFill: var(--white);
      --secondarySpinnerFill: var(--gray-30);
      --stepwiseFill: var(--gray-80);
      --stepwiseStroke: var(--gray-80);
      --fieldStrokeEnabled: var(--gray-50);
      --fieldStrokeDisabled: var(--gray-50);
      --fieldStrokeSelected: var(--white);
      --fieldBackground: var(--gray-20);
      --fieldStrokeAlert: var(--primary-danger-dark-mode);
      --fieldBackgroundDisabled: var(--gray-20);
      --cursor: var(--purple-70-dark-mode);
      --primaryLabelFill: var(--white);
      --secondaryLabelFill: var(--gray-5);
      --secondaryLabelStroke: var(--white);
      --accentLabelFill: var(--gray-95);
      --accentLabelStroke: var(--red-40);
      --accentLabelText: var(--red-40);
      --michelinLabelFill: var(--gray-95);
      --activeLabelFill: var(--green-80);
      --expiredLabelFill: var(--brand-pink);
      --importantLabelFill: var(--yellow-80);
      --merchandisingLabelFill: var(--yellow-90);
      --plusLabelFill: var(--brand-purple);
      --plusPendingStatusLabelFill: var(--beige-90);
      --plusStatusLabelFill: var(--purple-90);
      --rewardsLabelFill: var(--yellow-90);
      --betaLabelFill: var( --purple-80 );
      --onDarkLabelFill: var( --white );
      --diningClubLabelFill: var(--brand-red);
      --inactiveLabelFill: var(--gray-80);
      --dateAndTimeOnLightLabelFill: var(--white);
      --offersLabelFillOnDark: var(--green-90);
      --offersLabelTextOnLight: var(--green-10);
      --dividerFill: var(--gray-30);
      --sectionDividerFill: var(--gray-30);
      --primaryMapPinFill: var(--green-90);
      --primaryMapPinStroke: var(--black);
      --activeMapPinFill: var(--gray-5);
      --activeMapPinStroke: var(--green-90);
      --visitedMapPinFill: var(--green-80);
      --visitedMapPinStroke: var(--black);
      --plusMapPinFill: var(--purple-30);
      --visitedPlusMapPinFill: var(--purple-70);
      --menuItemHover: var(--gray-30);
      --menuItemPressed: var(--gray-50);
      --menuItemSelected: var(--gray-30);
      --primaryTagFill: var(--gray-20);
      --primaryTagStroke: var(--gray-30);
      --smallShadow: rgba(0,0,0,.15);
      --mediumShadow: rgba(0,0,0,.15);
      --largeShadow: rgba(0,0,0,.1);
      --scrimImagePartial: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.6));
      --scrimPrimaryBackground: linear-gradient(180deg,hsla(0,0%,7%,0) 22%,#121212);
      --strokeSubscriber: linear-gradient(135deg,#52327c,#84e9bd);
      --strokeSubscriberEnd: var(--brand-green-dark-mode);
      --strokeSubscriberStart: var(--purple-30);
      --endopacity: rgba(0,0,0,0);
      --startopacity: var(--black);
      --selectorFillDisabled: var(--gray-30);
      --selectorFillSelectedEnabled: var(--green-10);
      --selectorFillSelectedHover: var(--green-20);
      --selectorFillSelectedPressed: var(--green-30);
      --selectorFillUnselectedEnabled: var(--black);
      --selectorFillUnselectedHover: var(--gray-20);
      --selectorFillUnselectedPressed: var(--gray-30);
      --selectorStroke: var(--gray-30);
      --selectorText: var(--white);
      --selectorTextDisabled: var(--gray-50);
      --averageFill: var(--yellow-80);
      --cheaperFill: var(--green-80);
      --higherFill: var(--brand-pink);
      --strokeStandard: var(--brand-green-dark-mode);
      --switchOnFill: var(--brand-green)
  }
}

:root {
  --grid-spacing: 16px;
  --page-margin: 24px;
  --max-content-width: 1136px
}

:root {
  --_gi3V9EjD: var(--radiusSmall,0.25rem);
  --_PueiuEQz: var(--radiusMedium,0.375rem);
  --_ND7LZeqS: var(--radiusLarge,0.5rem);
  --_HGwrdeEU: var(--radiusXl,0.75rem);
  --_87yinuJy: var(--radiusFullRounded,50%)
}

:root {
  --_u4ZBV1LR: normal var(--trip-sans-bold) 12px/14px var(--ta-sans-serif);
  --_gUwxtHEZ: normal var(--trip-sans-bold) 8px/10px var(--ta-sans-serif);
  --_AmLphmSW: normal var(--trip-sans-regular) 16px/22px var(--ta-sans-serif);
  --_pLYWtZuk: normal var(--trip-sans-regular) 20px/24px var(--ta-sans-serif);
  --_zrEwEEiK: normal var(--trip-sans-regular) 18px/22px var(--ta-sans-serif);
  --_Qmf2G7U5: normal var(--trip-sans-regular) 24px/29px var(--ta-serif);
  --_MXfojPGc: normal var(--trip-sans-regular) 20px/24px var(--ta-serif);
  --_9RkU764s: normal var(--trip-sans-regular) 16px/21px var(--ta-serif);
  --_HUy3fEM5: normal var(--trip-sans-regular) 18px/22px var(--ta-serif);
  --_SV7E3HqW: italic var(--trip-sans-regular) 18px/22px var(--ta-serif);
  --_2jTiixAe: normal var(--trip-sans-medium) 16px/20px var(--ta-sans-serif);
  --_NwdMsasn: normal var(--trip-sans-medium) 16px/19px var(--ta-sans-serif);
  --_Qgsi12gx: normal var(--trip-sans-medium) 12px/14px var(--ta-sans-serif);
  --_kc8KpzJ2: normal var(--trip-sans-medium) 14px/17px var(--ta-sans-serif);
  --_aSnbXFtw: normal var(--trip-sans-medium) 14px/17px var(--ta-sans-serif);
  --_ztme6XZ1: normal var(--trip-sans-ultra) 54px/65px var(--ta-sans-serif);
  --_6LNVjzFt: normal var(--trip-sans-ultra) 32px/40px var(--ta-sans-serif);
  --_1YDupG3n: normal var(--trip-sans-bold) 54px/65px var(--ta-sans-serif);
  --_6xBSPwmF: normal var(--trip-sans-bold) 32px/38px var(--ta-sans-serif);
  --_QoH9QDoU: normal var(--trip-sans-medium) 32px/38px var(--ta-sans-serif);
  --_UwDMK2r8: normal var(--trip-sans-bold) 40px/40px var(--ta-sans-serif);
  --_x11uBM1M: normal var(--trip-sans-medium) 48px/58px var(--ta-sans-serif);
  --_h6DMgNja: normal var(--trip-sans-regular) 48px/58px var(--ta-sans-serif);
  --_c3NwK3qg: normal var(--trip-sans-regular) 32px/38px var(--ta-sans-serif);
  --_cSLpJEL9: normal var(--trip-sans-bold) 28px/28px var(--ta-sans-serif);
  --_6ZEpTBhk: normal var(--trip-sans-bold) 24px/24px var(--ta-sans-serif);
  --_z6jobEi2: normal var(--trip-sans-bold) 56px/56px var(--ta-sans-serif);
  --_1t9VhBHK: normal var(--trip-sans-medium) 14px/17px var(--ta-sans-serif);
  --_T1KvMdGU: normal var(--trip-sans-regular) 14px/17px var(--ta-sans-serif);
  --_bBMsCqkh: normal var(--trip-sans-regular) 16px/19px var(--ta-sans-serif);
  --_drj96TgT: normal var(--trip-sans-medium) 16px/19px var(--ta-sans-serif);
  --_dMkrX2aY: normal var(--trip-sans-bold) 12px/14px var(--ta-sans-serif);
  --_8Cz1sFu1: normal var(--trip-sans-regular) 14px/17px var(--ta-sans-serif);
  --_TWEBUGvT: normal var(--trip-sans-regular) 12px/14px var(--ta-sans-serif);
  --_mQQZsBua: normal var(--trip-sans-medium) 14px/17px var(--ta-sans-serif);
  --_YGfq1q7F: normal var(--trip-sans-regular) 14px/17px var(--ta-monospace);
  --_axvLFyod: normal var(--trip-sans-bold) 42px/50px var(--ta-sans-serif);
  --_TLxnBkVK: normal var(--trip-sans-bold) 32px/38px var(--ta-sans-serif);
  --_qKj3EJZE: normal var(--trip-sans-bold) 32px/38px var(--ta-sans-serif);
  --_wo2v1dXb: normal var(--trip-sans-bold) 28px/34px var(--ta-sans-serif);
  --_EcuCfCh7: normal var(--trip-sans-medium) 24px/29px var(--ta-sans-serif);
  --_bLraLvyg: normal var(--trip-sans-medium) 18px/22px var(--ta-sans-serif);
  --_zizF1PPG: normal var(--trip-sans-medium) 16px/19px var(--ta-sans-serif);
  --_ZeJWrzXr: normal var(--trip-sans-medium) 12px/14px var(--ta-sans-serif)
}